#drum-machine{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    width: 800px;
    height: auto;
    background-color: #414141;
    box-shadow: 10px 10px 40px 10px rgba(0,0,0,0.75); 
    border-radius: 15px;
}

.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px; 
    width: 60%;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;}

@media only screen and (max-width: 768px){
    #drum-machine{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .controls{
        margin: auto;
    }

}