.drumPad{
    width: 125px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #cececc;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75); 
}

.drumPad button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: inherit;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.drumPad button:active{
    background-color:#33cc33;
}
